%main#home_content
  .row
    .container-fluid
      - page_slug = @page_name.parameterize
      - flash && flash.each do |key, value|
        .alert{class: flash_alert_class(key), style: "margin-bottom: #{page_slug=='dashboard' ? '0' : '20px'}"}
          %a.close{href: '#', :'data-dismiss' => "alert"} &times;
          = value
  = cache 'home', expires_in: 1.day do
    = render partial: 'cenit/home/sliders'
    <!-- INTRO -->
    = render partial: 'cenit/home/intro'
    <!-- SUBDOMAINS -->
    = render partial: 'cenit/home/subdomains'
    <!-- SERVICES -->
    = render partial: 'cenit/home/services'
    - if (ENV['PUBLIC_APIS'] || true)
      <!-- APP INETGRATIONS -->
      = render partial: 'cenit/home/app_integrations'
    <!-- SEARCH APPS -->
    = render partial: 'cenit/home/search_apps'
    <!-- FEATURES-->
    = render partial: 'cenit/home/features'
    - if (ENV['SHOW_PRICES'] || false)
      <!-- PRICING-->
      = render partial: 'cenit/home/pricing'
    - if (ENV['SHOW_PAYMENT_OPTIONS'] || false)
      <!-- PAYMENT OPTIONS-->
      = render partial: 'cenit/home/payment_options'
    - if (ENV['SHOW_OFFICES'] || true)
      <!-- OUR OFFICES-->
      = render partial: 'cenit/home/offices'
    <!-- FOOTER-->
    = render partial: 'cenit/home/footer'
  <!-- GO UP ARROW-->
  = link_to '', id: 'go-up',class:'from-bottom scroll', data: {link: 'top'} do
    %i.fa.fa-arrow-up
  - tour = TourTrack.show_tour?(request.remote_ip, User.current) && (User.current ? 'user' : 'anonymous')
  :javascript
    var doStartTour = '#{tour}';
