%main#home_content
  .row
    .container-fluid
      - page_slug = @page_name.parameterize
      - flash && flash.each do |key, value|
        .alert{class: flash_alert_class(key), style: "margin-bottom: #{page_slug=='dashboard' ? '0' : '20px'}"}
          %a.close{href: '#', :'data-dismiss' => "alert"} &times;
          = value
  = cache 'home', expires_in: 1.day do
    = render partial: 'cenit/home/sliders'
    = render partial: 'cenit/home/intro'
    = render partial: 'cenit/home/subdomains'
    = render partial: 'cenit/home/services'
    - if (ENV['PUBLIC_APIS'] || true)
      = render partial: 'cenit/home/app_integrations'
    = render partial: 'cenit/home/search_apps'
    = render partial: 'cenit/home/features'
    - if (ENV['SHOW_PRICES'] || false)
      = render partial: 'cenit/home/pricing'
      = render partial: 'cenit/home/faq'
    - if (ENV['SHOW_PAYMENT_OPTIONS'] || false)
      = render partial: 'cenit/home/payment_options'
    = render partial: 'cenit/home/footer'
  = link_to '', id: 'go-up',class:'from-bottom scroll', data: {link: 'top'} do
    %i.fa.fa-arrow-up
  - if TourTrack.show_tour?(request.remote_ip, User.current)
    :javascript
      startTour(anonymous_tour_at_home);
