%section#pricing.gray
  #first-option
    .container
      .header
        .col-md-12
          %h3
            ='Our Offices'
          %p{style: 'padding-left: 70px;'}
            = "Reach out, we'd love to hear from you"
            = link_to 'Contact us', '#',class: 'contact-modal'
      .row
        .col-sm-4
          .small
            .description
              %h1
                ='North America'
          %p{style: 'padding-left: 70px;'}
            %b
              = 'Headquarter | Bay Area'
            %br/
            = '1083 Foster City Blvd. Apt C'
            %br/
            = 'Foster City CA 94404. USA'
            %br
            = '+1 704 615 2238'
            %br
            = 'support@cenit.io'
        .col-sm-4
          .small
            .description
              %h1
                ='Latin America'
          %p{style: 'padding-left: 70px;'}
            %b
              = 'Local Office | Lima'
            %br/
            = 'Av. Aviación 3383, oficina 402'
            %br
            = 'San Borja, Lima. Perú'
            %br
            = '+51 992 774 277'
            %br
            = 'servicios@osse.com.pe'
        .col-sm-4
          .small
            .description
              %h1
                ='Asia/Pacific'
          %p{style: 'padding-left: 70px;'}
            %b
              = 'Local Office | Singapore'
            %br
            = '3 Coleman Street #02-01'
            %br
            = 'Singapore 179804.'
            %br
            = '+65 8502 2399'
            %br
            = 'hello@omna.io'
