%section#pricing.gray
  #first-option
    .container
      .header
        .col-md-12
          %h3
            ='Pricing Plans'
          %p
            = 'Free to start. Easy. Flexible. Scalable. Questions?'
            = link_to 'Contact us', '#',class: 'contact-modal'
      .row.charts
        .col-md-4
          .chart.first
            .plan-name
              ='Free'
            .specs
              .spec
                %span.variable
                  = '2.5K'
                = 'Execution Tasks'
              .spec
                %span.variable
                  = '20 min'
                = 'Polling Cycle'
              .spec
                %span.variable
                  = '7 days'
                = 'Message Notifications'
              .spec
                %span.variable
                  ='Community'
                ='Slack Channel'
              .spec
                = 'No Credit Card Required'
            =link_to '#', class:'button go-sign-in' do
              %span='Start free'
        .col-md-4
          .chart.featured
            = image_tag 'cenit/home/ribbon.png', class: 'popular', title: 'Pay As You Go'
            %span.ribbon-text
              = 'Pay As You Go'
            .plan-name
              ='Small Business'
            .specs
              .spec
                %span.variable
                  = '$15'
                = 'per 5K Execution Tasks'
              .spec
                %span.variable
                  = '10 min'
                = 'Polling Cycle'
              .spec
                %span.variable
                  = '30 days'
                = 'Message Notifications'
              .spec
                %span.variable
                  = '5 hours'
                = 'Assisted Setup'
              .spec
                %span.variable
                  ='Private'
                ='Slack Channel'
            =link_to '#', class:'button go-sign-in' do
              %span='Start'
        .col-md-4
          .chart.last
            .plan-name
              = 'Enterprise'
            .specs
              .spec
                %span.variable
                  = 'Custom'
                = 'Execution Tasks'
              .spec
                %span.variable
                  = '5 min'
                = 'Polling Cycle'
              .spec
                %span.variable
                  = 'Custom'
                = 'Message Notifications'
              .spec
                %span.variable
                  = 'Custom'
                = 'Development Services'
              .spec
                %span.variable
                  = 'Dedicated'
                = 'Support'
            =link_to '#', class:'button contact-modal' do
              %span='Request a quote'
