%section#pricing.gray
  #first-option
    .container
      .header
        .col-md-12
          %h3
            ='MONTHLY PRICING PLANS'
          %p
            = '30 days period trial without credit card required. Questions?'
            = link_to 'Contact us', '#',class: 'contact-modal'
      .row.charts
        .col-md-4
          .chart.first
            .plan-name
              ='Bronze'
            .specs
              .spec
                %span.variable
                  = '15 USD'
                = 'Basic Plan'
              .spec
                %span.variable
                  ='Community'
                ='Slack Channel'
              .spec
                %span.variable
                  ='No'
                ='No Assisted Setup'
              .spec
                %span.variable
                  ='No'
                ='Specific Support'
            =link_to '#', class:'button go-sign-in' do
              %span='Start now'
        .col-md-4
          .chart.featured
            = image_tag 'cenit/home/ribbon.png', class: 'popular', title: 'Popular'
            %span.ribbon-text
              = 'Popular'
            .plan-name
              ='Silver'
            .specs
              .spec
                %span.variable
                  = '49 USD'
                = 'Start-up Plan'
              .spec
                %span.variable
                  ='Private'
                ='Slack Channel'
              .spec
                %span.variable
                  = '5 hours'
                = 'Assisted Setup'
              .spec
                %span.variable
                  ='48 hrs'
                ='Support Window'
            =link_to '#', class:'button go-sign-in' do
              %span='Start now'
        .col-md-4
          .chart.last
            .plan-name
              = 'Golden'
            .specs
              .spec
                %span.variable
                  = '99 USD'
                = 'Growth-up Plan'
              .spec
                %span.variable
                  ='Private'
                ='Slack Channel'
              .spec
                %span.variable
                  = 'Unlimited'
                = 'Assisted Setup'
              .spec
                %span.variable
                  ='ASAP'
                ='Priority Support'
            =link_to '#', class:'button go-sign-in' do
              %span='Start now'
